body {
	background: #fff url(../img/bg2.png);
}
#wrapper {
	padding-top: 40px;
	background: #f8f8f8;
	border: 1px solid #e2e2e2;
    box-shadow: 0px 0px 25px rgba(151, 151, 151, 0.38);
}
#topnavbar {
	font-weight: bold;
	font-size: 12px;
	box-shadow: 0 0 10px #131313;
}
#logo {
	font-family: 'Finger Paint', cursive;
	margin-left: -5px;
}
#wrapper #sidebar {
	position: relative;
	z-index: 10;
	height: 500px;
	box-sizing: border-box;
	box-shadow: 2px 0px 8px rgba(10, 5, 5, .2);
	border-right: 1px solid #e2e2e2;
	background: #f5f5f5;
}
#wrapper #content {

}
#map-wrapper {
	background: url(../img/loader.gif) no-repeat center center;
}
.transition-color,
.transition-color:hover {
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	transition: color .2s;
}
.inline-top {
	display: inline-block;
	vertical-align: top;
}

.shaurma-shop {
	width: 280px;
}
.shaurma-shop .shaurma-name,
.shaurma-shop .shaurma-desc {
	width: 220px;
}
.shaurma-shop .shaurma-name {
	font-size: 12px;
	font-weight: bold;
}
.shaurma-shop .shaurma-desc {
	font-size: 11px;
	line-height: 16px;
}
.shaurma-shop .shaurma-img {

}
