body {
	background: url(../img/bg4.png);
}
#topnavbar {
	font-weight: bold;
	font-size: 13px;
	box-shadow: 0 0 10px #131313;
}
#topnavbar .navbar-inner {
	background: url(../img/top-navbar-bg.png);
	border-color: #333;
}
#header {
	border-bottom: 1px solid #ddd;
	margin-top: 40px;
	background: white url(../img/bg3.png);
	box-shadow: 1px 1px 2px #fff;
}
#header h3 {
	display: inline-block;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
	padding: 8px 20px;
	text-shadow: 1px 1px 1px #ccc;
}
#wrapper {
	box-sizing: border-box;
}
 #sidebar {
	box-sizing: border-box;
	background: #f9f9f9;
	padding: 10px;
	height: 530px;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	box-shadow: 1px 1px 2px #fff;
}
#sidebar .shaurma-main-name {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: sans-serif;
}
#sidebar .shaurma-main-photo {
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#map-wrapper {
	margin-top: 25px;
	padding: 10px;
	width: 870px;
	box-sizing: border-box;
	background: #fff url(../img/loader.gif) no-repeat center;
}
#map {
    box-sizing: border-box;
	border: 1px solid #bbb;
}
.transition-color,
.transition-color:hover {
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	transition: color .2s;
}
.inline-block {
	display: inline-block;
	vertical-align: top;
}

#balloon{
    display: none;
}

.text-overflow {
	overflow: hidden;
  	text-overflow: ellipsis;
 	white-space: nowrap;
}
.shaurma-shop {
	text-shadow: 1px 1px 1px #EEE;
}
.shaurma-shop .shaurma-name {
	width: 160px;
	font-size: 12px;
	font-weight: bold;
}
.shaurma-shop .shaurma-desc {
	font-size: 11px;
	line-height: 16px;
	margin-top: 3px;
}
.shaurma-shop .shaurma-rating {
	margin-top: 4px;	
}
.shaurma-shop .shaurma-rating .single-star {
	background: url(../img/star.png) no-repeat center;
	background-size: cover;
	height: 18px;
	width: 18px;
}
.shaurma-shop .shaurma-img {
	box-shadow: 1px 1px 2px #acacac;
	margin-right: 5px;
}

.slick-box {
	position: relative;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.slick-box:before,
.slick-box:after {
	content: '';
	z-index: -1;
	position: absolute;
	left: 10px;
	bottom: 10px;
	width: 80%;
	max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
	max-height: 20px;
	height: 60%;
	-webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
	-webkit-transform: skew(-15deg) rotate(-3deg);
	-moz-transform: skew(-15deg) rotate(-3deg);
	-ms-transform: skew(-15deg) rotate(-3deg);
	-o-transform: skew(-15deg) rotate(-3deg);
	transform: skew(-15deg) rotate(-3deg);
}
.slick-box:after {
	left: auto;
	right: 10px;
	-webkit-transform: skew(15deg) rotate(3deg);
	-moz-transform: skew(15deg) rotate(3deg);
	-ms-transform: skew(15deg) rotate(3deg);
	-o-transform: skew(15deg) rotate(3deg);
	transform: skew(15deg) rotate(3deg);
}